# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IntelliJ / VSCode
.idea/
.vscode/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/ephemeral/
ios/Flutter/*.xcconfig
ios/.generated/

# macOS/Linux/Windows generated
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Coverage
coverage/
